<!DOCTYPE html>
<html>

<head>
    <title>Metin Seçme</title>
    <style>

    </style>
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script>
        var metinAlaniMetni = "";
        /* Dropdownu açma fonksiyonu */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        /* Dışarı tıklandığında dropdownu kapatma */
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Kayıtlı Metinlerim</button>
        <div id="myDropdown" class="dropdown-content">
            {% for text in texts %}
            <a href="#" onclick="showText('{{ text.content }}')">{{ text.name }}</a>
            {% endfor %}
        </div>
    </div>
    <button onclick="insertTextHere('Emir\'in Ayakkabıları')"> Aktar </button>
    <form method="post">
        <div class="mainTextDiv">
            <input type="text" name="text_name" placeholder="Metin Adı">
            <button type="submit" name="action" value="kayit">Kaydet</button>
            <textarea class="mainTextArea" id="metinAlani" name="metinAlani" rows="4" cols="50">{{main_text}}</textarea>
            <script>
                CKEDITOR.replace('metinAlani', {
                    height: '500px',
                    on: {
                        instanceReady: function (evt) {
                            var editor = evt.editor;
                            editor.addMenuGroup('customGroup');
                            editor.addMenuItem('customItem',
                                {
                                    label: 'Get Summary',
                                    command: 'getSummary',
                                    group: 'customGroup',
                                }
                            );
                            editor.addMenuItem('customItem2',
                                {
                                    label: 'Get Question',
                                    command: 'getQuestion',
                                    group: 'customGroup',
                                }
                            );
                            editor.addMenuItem('customItem4',
                                {
                                    label: 'Get a Title',
                                    command: 'getTitle',
                                    group: 'customGroup',
                                }
                            );
                            editor.addMenuItem('customItem5',
                                {
                                    label: 'Spelling Correction',
                                    command: 'spellingCorrection',
                                    group: 'customGroup',
                                }
                            );
                            editor.addMenuItem('customItem6',
                                {
                                    label: 'Key Word Extraction',
                                    command: 'keyWord',
                                    group: 'customGroup',
                                }
                            );
                            editor.addMenuItem('customItem7',
                                {
                                    label: 'Paraphrase',
                                    command: 'paraphrase',
                                    group: 'customGroup',
                                }
                            );
                            editor.addMenuItem('customItem8',
                                {
                                    label: 'Grammar Correction',
                                    command: 'grammarCorrection',
                                    group: 'customGroup',
                                }
                            );
                            editor.addMenuItem('customItem3', {
                                label: 'Translate',
                                command: 'translateCommand',
                                group: 'customGroup',
                                getItems: function () {
                                    var items = {};
                                    items['translateOption1'] = {
                                        label: 'Option 1',
                                        command: 'translateOption1Command'
                                    };
                                    items['translateOption2'] = {
                                        label: 'Option 2',
                                        command: 'translateOption2Command'
                                    };
                                    return items;
                                }
                            });
                            editor.addCommand('getSummary', {
                                exec: function (editor) {
                                    document.querySelector("button[value='first_action']").click();
                                }
                            });
                            editor.addCommand('getQuestion', {
                                exec: function (editor) {
                                    document.querySelector("button[value='second_action']").click();
                                }
                            });
                            editor.addCommand('getTitle', {
                                exec: function (editor) {
                                    document.querySelector("button[value='third_action']").click();
                                }
                            });
                            editor.addCommand('spellingCorrection', {
                                exec: function (editor) {
                                    document.querySelector("button[value='fourth_action']").click();
                                }
                            });
                            editor.addCommand('keyWord', {
                                exec: function (editor) {
                                    document.querySelector("button[value='fifth_action']").click();
                                }
                            });
                            editor.addCommand('paraphrase', {
                                exec: function (editor) {
                                    document.querySelector("button[value='sixth_action']").click();
                                }
                            });
                            editor.addCommand('grammarCorrection', {
                                exec: function (editor) {
                                    document.querySelector("button[value='seventh_action']").click();
                                }
                            });
                            editor.addCommand('translateCommand', {
                                exec: function (editor) {
                                    console.log('Translate command executed');
                                }
                            });
                            editor.addCommand('translateOption1Command', {
                                exec: function (editor) {
                                    console.log('Translate Option 1 command executed');
                                }
                            });
                            editor.addCommand('translateOption2Command', {
                                exec: function (editor) {
                                    console.log('Translate Option 2 command executed');
                                }
                            });

                            editor.contextMenu.addListener(function (element) {
                                var items = {};
                                items['customItem'] = CKEDITOR.TRISTATE_OFF;
                                items['customItem2'] = CKEDITOR.TRISTATE_OFF;
                                items['customItem3'] = CKEDITOR.TRISTATE_OFF;
                                items['customItem4'] = CKEDITOR.TRISTATE_OFF;
                                items['customItem5'] = CKEDITOR.TRISTATE_OFF;
                                items['customItem6'] = CKEDITOR.TRISTATE_OFF;
                                items['customItem7'] = CKEDITOR.TRISTATE_OFF;
                                items['customItem8'] = CKEDITOR.TRISTATE_OFF;
                                return items;
                            });
                        }
                    }
                });

                function showSelectedText() {
                    var editor = CKEDITOR.instances.metinAlani;
                    var selectedText = editor.getSelection().getSelectedText();
                    document.getElementById('gosterilenMetin').value = selectedText;
                }

                // Fonksiyonu mouseup olayına bağlayın
                CKEDITOR.instances.metinAlani.on('selectionChange', showSelectedText);

            </script>

        </div>
        <div class="spaceDiv"></div>
        <div class="selectedTextDiv">
            <!-- <label for="gosterilenMetin">Seçilen Metin:</label> -->
            <!-- <input type="text" id="gosterilenMetinn" name="gosterilenMetinn" value="{{ selected_text }}"> -->
            <textarea class="selectedTextArea" type="text" id="gosterilenMetin" name="gosterilenMetin"
                value="{{ selected_text }}">{{ selected_text }}</textarea>
            <button class="actionButton" type="submit" name="action" value="first_action">Get a Summary</button>
            <button class="actionButton" type="submit" name="action" value="second_action">Generate a Question</button>
            <button class="actionButton" type="submit" name="action" value="third_action">Generate a Title</button>
            <button class="actionButton" type="submit" name="action" value="fourth_action">Spelling Correction</button>
            <button class="actionButton" type="submit" name="action" value="fifth_action">Key Word</button>
            <button class="actionButton" type="submit" name="action" value="sixth_action">Paraphrase</button>
            <button class="actionButton" type="submit" name="action" value="seventh_action">Grammar Correction</button>
            <label class="headerLabel">{{header}}</label>
            <textarea class="answerTextArea" id="resultText">{{ result }}</textarea>
        </div>
    </form>

    <a href="/logout">Çıkış Yap</a>

    <!-- Özel menü -->
    <div id="ozelMenu">
        <ul>
            <li data-action="get_summary">Get Summary</li>
            <li data-action="generate_question">Generate Question</li>
        </ul>
    </div>
    <script>
        function showText(text) {
            console.log("Gelen veri:", text);
            // CKEditor API'sini kullanarak metni textarea alanına aktar
            CKEDITOR.instances['metinAlani'].setData(text);
        }
        function insertTextHere(text) {
            // console.log("Gelen veri:", text);
            var resultValue = document.getElementById('resultText').value;
            alert(resultValue);
            CKEDITOR.instances['metinAlani'].insertHtml("<p>" + resultValue + "</p>");
        }
    </script>
</body>

</html>